:root {
	--c-brand: #ea7134;
	--c-brand-light: #ea7d4a;

	--search-input-width: 10rem !important;
	--search-result-width: 25rem !important;
}

html.dark {
	--c-brand: #ea7134;
	--c-brand-light: #ea7d4a;
}

.vp-tabs {
	border: 0 !important;
}

.vp-tab {
	padding-left: 0 !important;
	padding-right: 0 !important;
}